//Imports
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

// Colors

$clr-orange:            hsl(31, 77%, 52%);
$clr-cyan:              hsl(184, 100%, 22%);
$clr-dark-cyan:         hsl(179, 100%, 13%);

$clr-primary:           hsl(0, 0%, 95%);
$clr-secondary:         hsla(0, 0%, 100%, 0.75);


// Fonts

$font-lexend:           'Lexend Deca', sans-serif;
$font-shoulders:        'Big Shoulders Display', sans-serif;


// Breakpoint

$br-laptop:             1024px;


// Mixins

@mixin mq {
    @media (min-width: $br-laptop) {
        @content;
    }
}

@mixin wrapRadius($radius) {
    &:first-child {
        border-radius: 0;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        @include mq {
            border-radius: 0;
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
        }
    }

    &:last-child {
        border-radius: 0;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;

        @include mq {
            border-radius: 0;
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
        }
    }
}


//------------------------------------------------------------//

// Reset

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

// Style

:root, body {
    font-size: 15px;

    background-color: $clr-primary;
}

.container {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include mq { padding: 0; }
}

.wrapper {
    display: grid;
    grid-template-areas: 
        "sedan"
        "suv"
        "luxury";
    margin: 2rem;
    max-width: 850px;

    @include mq { grid-template-areas: "sedan suv luxury"; }
}

.card {
    padding: 2.5rem;

    font-family: $font-lexend;
    color: $clr-secondary;

    @include wrapRadius(10px);

    &--sedan {
        grid-area: sedan;
        background-color: $clr-orange;
    }

    &--suv {
        grid-area: suv;
        background-color: $clr-cyan;
    }

    &--luxury {
        grid-area: luxury;
        background-color: $clr-dark-cyan;
    }

    &__img { margin-bottom: 1.5rem; }

    &__title {
        margin-bottom: 1.5rem;

        font-family: $font-shoulders;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__content {
        margin-bottom: 1.5rem;

        line-height: 1.8rem;

        @include mq {
            margin-bottom: 5rem;
        }
    }
}

.btn {
    padding: 12px 28px;

    background-color: $clr-primary;
    border: 2px solid $clr-primary;
    border-radius: 30px;

    &:hover {
        color: $clr-primary !important;

        background-color: transparent;
    }

    &--sedan { color: $clr-orange; }

    &--suv { color: $clr-cyan; }

    &--luxury { color: $clr-dark-cyan; }
}

.attribution { 
    position: relative;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 14px; // Height of text 

    font-size: 11px; 
    text-align: center; 

    a { color: hsl(228, 45%, 44%); }

    @include mq { position: absolute; }
}

